{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
    
    <p>Bienvenido a la entrega final de mi proyecto Django. </p>
    <p>Se recomienda seguir los siguientes pasos para navegar la web:</p>
    <p>1. Registrar un usuario, profesor o alumno.</p>
    <p>2. Loguearse con su usuario, y una vez dentro, si lo desea puede cambiarle el nombre.</p>
    <p>3. Como alumno, podrá crear un estudiante.</p>
    <p>4. Como profesor, podrá crear un profesor y un curso.</p>
    <p>5. Ambas partes pueden editar su perfil (nombre, mail y rol), consultar cursos y desloguearse.</p>
    <p>6. Para consultar un curso, primero debe loguearse (si se olvidó el curso creado, consulte db.sqlite3).</p>
    <p>7. En editar perfil, está permitido cambiar el rol de usuario para ahorrarse crear dos usuarios distintos y poder probar así las funcionalidades directamente.</p>
    <img width="200" height="200" style="position: fixed; bottom: 25px; right: 25px;" src="https://styles.redditmedia.com/t5_5blkvq/styles/communityIcon_t5ji6wuld2z71.jpg?format=pjpg&s=1672be49333cd14749784be8bbc3c968a033d8e0" alt="https://jobs.coderhouse.com/assets/logos_coderhouse.png">
{% endblock %}
